*{
    font-family: 'Outfit', sans-serif;
}
body {
    width: 90%;
    height: 90vh;
    background-color: #d5e1ef;
    align-items: center;

}
p{
    font-size: 15px;
    font-weight: 500;

}
h1{
    font-weight: 700;
    font-size: 20px;
}
img{
    border-radius: 10px;
    width: 350px;
    height: 350px;
}
.code{
    background-color: white;
    text-align: center;
    padding: 1%;
    top: 25%;
    width: 350px; 
    border-radius: 30px;
    margin:5% auto

}