*{
    font-family: 'Outfit', sans-serif;
}
body {
    width: 90%;
    height: 90vh;
    background-color: #d5e1ef;
    align-items: center;
overflow: hidden;
}
p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;

}
h1{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
img{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    padding: 10px;
}
.code{
    background-color: white;
    text-align: center;
    padding: 1%;
    top: 25%;
    width: 375px; 
    height: 90vh;
    border-radius: 30px;
    margin:15% auto;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}